.about {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-size: 30px;
}

.about-header {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: xx-large;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
}

.about-details {
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.about-details h2 {
    font-size: 25px;
    letter-spacing: 4px;
}

.about-details p {
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}

.item {
    background-image: "../assets/images/imgs/bg-img-1.avif";
}

.gallery {
    align-items: center;
    align-self: center;
}

.hover-effect {
    transition: transform 0.5s, box-shadow 0.3s;
    padding: 20px;
}

.item-des {
    margin: 20px;
}

.hover-effect:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  